.hero{

    &__info{
        margin-left: 130px;
    }

    &__list{
        display: flex;
        gap: 89px;
    }


    &__heading{
        width: 506px;
        height: 243px;
        color: #36536B;
        font-family:" DM Serif Display";
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -0.554px;
    }

    .form{
        width: 445px;
        height: 48px;
        display: flex;
        align-items: center;
        gap: 103px;
        background-color: #FBFCFE;
        border-radius: 24px;
    }

    .label{

        

        &__input{
            font-family: "Public Sans";
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-left: 27px;
        }
    }

    &__link{
        margin-top: -80px;
    }

    .button1{
        width: 173px;
        height: 48px;
        border-radius: 24px;
        @include color;
        margin-left: -60px;

        &__link{
            color: #FBFCFE;
            font-family: "Public Sans";
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.115px;
        }
    }

    .button1:hover{
        border-radius: 24px;
        background-color: #DA6D97;
    }

    &__text{
        color: #6C8294;
        font-family: "Public Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 27px;
        padding-top: 16px;
    }


    
}